version: '3'
services:
  postgres-sql:
    image: postgres:alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: grupod
#    ports:
#      - 5432:5432
  proxy:
    image: traefik:v2.9.6
    command: --api.insecure=true --providers.docker
    ports:
      - "80:80"
      - "8080:8080"
    expose:
      - 80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  tracing:
    image: jaegertracing/all-in-one
    ports:
      - 16686:16686
      - 14258:14258
  authors-service:
    image: d4vecode/app-py-authors:1.0.0
    restart: always
    environment:
      CONFIGURATION_SETUP: "config.DevelopmentConfig"
      SQLALCHEMY_DATABASE_URI: "postgresql://postgres:postgres@postgres-sql:5432/grupod"
    command: "flask run --port 7001 --host 0.0.0.0"
    depends_on:
      - postgres-sql
      - proxy
    deploy:
      replicas: 3
    expose:
      - 7001
    labels:
       - "traefik.http.routers.authors-service.rule=Host(`localhost`)"
       - "traefik.http.routers.authors.rule=PathPrefix(`/app2`)"
       - "traefik.http.middlewares.authors.stripprefix.prefixes=/app2"
       - "traefik.http.routers.authors.middlewares=authors"
