version: '3'
services:
  postgres-sql:
    image: postgres:alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: grupod
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 5s
      retries: 5
#    ports:
#      - 5432:5432
  cassandra:
    image: cassandra
    expose:
      - 9042
    healthcheck:
      test: ["CMD-SHELL", "nodetool status | grep 'UN'"]
      interval: 30s
      timeout: 30s
      retries: 10
  proxy:
    image: traefik:v2.9.6
    command: --api.insecure=true --providers.docker
    ports:
      - "80:80"
      - "8080:8080"
    expose:
      - 80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  authors-service:
    image: jaimesalvador/app-authors:espinosa-1.0.0
    restart: always
    environment:
      CONFIGURATION_SETUP: "config.DevelopmentConfig"
      SQLALCHEMY_DATABASE_URI: "postgresql://postgres:postgres@postgres-sql:5432/grupod"
      DB_USERNAME : postgres
      DB_PASSWORD : postgres
      DB_HOST : postgres-sql
      DB_PORT : 5432 
      DB_NAME : grupod
    depends_on:
      postgres-sql:
        condition: service_healthy
      proxy:
        condition: service_started
    command: "flask run --port 7001 --host 0.0.0.0"
    deploy:
      replicas: 2
    expose:
      - 7001
    labels:
       - "traefik.http.routers.authors-service.rule=Host(`localhost`)"
       - "traefik.http.routers.authors.rule=PathPrefix(`/app2`)"
       - "traefik.http.middlewares.authors.stripprefix.prefixes=/app2"
       - "traefik.http.routers.authors.middlewares=authors"
  bookservice:
    image:  jaimesalvador/app-books:espinosa-1.0.0
    restart: always
    environment:
      - CASSANDRA_URI=cassandra
      - CASSANDRA_PORT=9042
      - CASSANDRA_KEYSPACE=distribuida
      - CASSANDRA_DATACENTER=datacenter1
      - CASSANDRA_REPLICAS=1
      - CASSANDRA_TABLE=books
      - SERVER_PORT=7000
    deploy:
      replicas: 3
    depends_on:
      cassandra:
        condition: service_healthy
    labels:
      - traefik.enable=true
      - traefik.http.routers.bookservice.rule=Host(`book.localhost`)
      - traefik.http.services.bookservice.loadbalancer.server.port=7000
